/*
ion-content, ion-header,h1,h5,strong,ion-item,ion-label,ion-title,ion-note{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  src: url('~src/assets/fonts/_H_HelveticaNeueInterface.ttf');
}*/
