<ion-content [fullscreen]="true">
    <div id="container">
        <img src="assets/icons/christab2_neutre.svg">
        <p> Bienvenue sur ChristaB <br> Votre application de covoiturage auto-moto</p> <br>
        <section>
            <button type="button"
                    class="btn btn-lg btn-outline-white border border-white border-5 rounded-pill text-white  font-size"
                    (click)="goLogin()">Se connecter
            </button>&nbsp; &nbsp; &nbsp;
            <button type="button"
                    class="btn btn-lg btn-outline-white border border-white border-5 rounded-pill text-white  font-size"
                    (click)="goRegister()">S'inscrire
            </button>
        </section>
    </div>
</ion-content>

